.small { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: 000000; text-decoration: none ; font-weight: normal}
.thaibk {  font-family: "MS Sans Serif"; font-size: 9px; color: 000000}

A:link {COLOR: 000099; TEXT-DECORATION: none}
A:visited {COLOR: 000099; TEXT-DECORATION: none}
A:hover {COLOR: 0066FF; TEXT-DECORATION: underline}

