BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma; top-margin: 15px
}
TD {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma
}
TABLE.form {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #cccccc
}
TD.line {
	BACKGROUND-COLOR: #cccccc
}
TD.header {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #eeeeee
}
INPUT {
	FONT-SIZE: 10pt; FONT-FAMILY: Tahoma
}
.require {
	FONT-SIZE: 10pt; COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: Tahoma
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ff0000; FONT-FAMILY: Tahoma
}
A {
	FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #0000ff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A.bold:hover {
	FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-DECORATION: underline
}
.button {
	WIDTH: 100px
}
.button_long {
	WIDTH: 100px
}
.underl {
	BORDER-BOTTOM: #cccccc 1px solid
}
