<html><head>
<title>Super Resume : Reflect your talent and get a better job</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.f11 {
	font-family: #resumeFont#;
	font-size: 13px;
	color: #808284;
	line-height: 18px;
}
.style1 {
	font-family: #resumeFont#;
	font-size: 15px;
	color: #705ea9;
}
.style3 {font-family: #resumeFont#; font-size: 14px; color: #808284; }
.style4 {font-family: #resumeFont#; font-size: 13px; color: #666666; }
.style5 {font-size: 22px; color: #705ea9;}
.copyright {
	font-family: "Microsoft Sans Serif";
	font-size: 10px;
	color: #666666;
}
.style6 {color: #fbb620}
.style7 {font-family: #resumeFont#; font-size: 13px; color: #ffffff; font-weight: bold; }
.style8 {color: #0eb593}
.style9 {display: table-cell; padding: 0px 25px 0 0; width: 135px}
.style10 {padding: 0px; margin: 0px}
-->
</style>
</head>
<body bgcolor="#FFFFFF">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th valign="top" scope="col"><table width="655" border="0" cellspacing="0" cellpadding="0" align="center">
      <tr>
        <th scope="col"><table width="655" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th height="30" align="left" valign="bottom" scope="col"> </th>
            <th width="170" height="10" align="right" valign="bottom" scope="col"></th>
          </tr>
          <tr>
            <th align="left" valign="bottom" scope="col">#COMPANY_LOGO#</th>
            <th align="right" valign="bottom" scope="col"><img src="#SUPERRESUME_LOGO#" ></th>
          </tr>
          
          <tr>
            <th height="22" align="left" valign="bottom" class="style1" scope="col"><span class="style6">#PREVIEW_APPLY_FOR_POSITION_OF#</span>&nbsp;&nbsp;&nbsp; <span class="style3">#POSITION_NAME#</span></th>
            <td align="right" valign="bottom" class="style8" scope="col">#SEND_DATE#</td>
          </tr>
          
          <tr>
            <th height="7" align="left" valign="bottom" class="style1" scope="col"></th>
            <th height="7" align="right" valign="bottom" class="style4" scope="col"></th>
          </tr>
        </table></th>
      </tr>

      

      <tr>
        <td align="left" valign="top" scope="col"><table width="655" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="530" height="5"  align="left" valign="bottom" class="f11" scope="col"></td>
            <td width="170" align="right" valign="bottom" class="f11" scope="col">#PHOTOGRAPH#</td>
          </tr>
          <tr>
            <td height="5" align="left" valign="bottom" class="f11" scope="col"></td>
            <td align="right" valign="bottom" class="f11" scope="col"></td>
          </tr>
        </table></td>
      </tr>
  

      <tr>
        <th valign="bottom" background="images/bg_sample.gif" scope="col"><table width="655" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="325" height="30" align="left" valign="top" class="style7" scope="col"  bgColor=#eeeeee><table width="325" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td  valign="top"  scope="col" >
				  <TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
				  <tr><td align="center" class="style7">#PREVIEW_RESUME_PERSONAL_DATA#</td></tr>
				  </TABLE>				 </td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col"><table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th align="left" valign="top" class="f11" scope="col">#JSK_SALUTATION# #JSK_FIRSTNAME# #JSK_LASTNAME# #THAINAME#</th>
                    </tr>
                  <tr>
                    <td align="left" valign="top" class="f11" scope="col">#CITIZENSHIP#, #HEIGHT# #GLOBAL_CENTIMETER#, #WEIGHT# #GLOBAL_KILOGRAM#, #BIRTHDATE#</td>
                  </tr>
                 
                  <tr>
                    <td align="left" valign="top" class="f11" scope="col">#HOME_ADDRESS# #CITY#, #STATE# #POSTAL#, #COUNTRY#
			        </td>
                  </tr>
			        <tr>
						<td scope="col" class="f11" >#MAINPHONE# #SECONDARYPHONE# #LINEID# #SKYPE#</td>
					</tr>
		
                     <tr>
                    <td align="left" valign="top" class="f11" scope="col">#JSK_USERNAME#</td>
                  </tr>                
                  <tr>
                    <td align="left" valign="top" class="f11" scope="col">#PREVIEW_OWN_CAR# : #OWN_CAR#</td>
                    </tr>
                </table>                  </td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" scope="col"></td>
              </tr>
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_CAREEROBJECTIVE#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" scope="col"><span class="f11">#CAREER_OBJECTIVE#</span></td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" scope="col"></td>
              </tr>
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_TARGETJOB#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">
		#JOB_TYPE#

                 <B>#PREVIEW_TARGET_JOBFIELD#:  </B><span class="style6">#GLOBAL_RANKED_IN_ORDER#</span><br>
				 #TARGET_JOBFIELD#
<br>
<B>#PREVIEW_INDUSTRY_WANTED#: </B><span class="style6">#GLOBAL_RANKED_IN_ORDER#</span><br>
#TARGET_INDUSTRY#<br>
 <B>#TARGETJOB_EXPECTED_SALARY#:  </B> #EXPECTED_SALARY#<br>
#LOCATION_INSIDE#
#LOCATION_OUTSIDE#
  <B>#PREVIEW_TARGETJOB_AVAILABLE#:</B> #AVAILABLE_DATE#<br>
  <b>#TARGETJOB_LEGALLY_ELIGIBLE#:</b> #WORK_PERMIT#<br>
 #RELOCATE#
 #TRAVEL# </td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" scope="col"></td>
              </tr>
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_EDUCATION#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#EDUCATION_DETAIL#</td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
			  #BEGIN_ACTIVITY#
              <tr>
                <td align="left" valign="top" scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_ACTIVITIES#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td height="30" align="left" valign="top" class="f11" scope="col">#ACTIVITIES_DETAIL#</td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
			   #END_ACTIVITY#
			   #BEGIN_PART_TIME#
              <tr>
                <td align="left" valign="top" scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_PART_TIME#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">
				#PART_TIME_DETAIL#</td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
			  #END_PART_TIME#
			  #BEGIN_TRAINING#
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_TRAINING#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#TRAINING_DETAIL#</td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
			   #END_TRAINING#
			     #BEGIN_CERTIFICATE#
			  <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_CERTIFICATE#
</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#CERTIFICATE_DETAIL#</td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col" height="10"></td>
              </tr>
			  #END_CERTIFICATE#
			   #BEGIN_AWARD#
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_AWARD#
</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#AWARD_DETAIL#</td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr> 
			  #END_AWARD#
			
			   #BEGIN_SKILL#
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_SKILL#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col"><B>#GLOBAL_LANGUAGE# :</B><br>
                 #SKILL_LANGUAGE#
				 #SKILL_SCORE#			   </td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col"><B class="f11">#GLOBAL_COMPUTER#:</B> <br>
				 #SKILL_COMPUTER#
				 #SKILL_OTHER#				 </td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
			   #END_SKILL#
			   #BEGIN_FAMILY_BACKGROUND#
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_FAMILY_BACKGROUND#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#FAMILY_BACKGROUND_DETAIL#</td>
              </tr>
              <tr>
                <td align="left" valign="top" class="style7" scope="col" height="10"></td>
              </tr>
            #END_FAMILY_BACKGROUND#
                #BEGIN_REFERENCES#
              <tr>
                <td align="left" valign="top" scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_REFERENCES#</td></tr></TABLE></td>
              </tr>
			<tr>
                <td align="left" valign="top" class="f11" scope="col">#REFERENCES_DETAIL# </td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
			  #END_REFERENCES#
			  #BEGIN_ADDITIONAL_PERSONAL_DATA#
			    <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_ADDITIONAL_PERSONAL_DATA#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#ADDITIONAL_PERSONAL_DATA_DETAIL#</td>
              </tr>
              <tr>
                <td align="left" valign="top" class="style7" scope="col" height="10"></td>
              </tr>
			 #END_ADDITIONAL_PERSONAL_DATA#
            
              
               #BEGIN_ADDITIONAL_INFORMATION#
              <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_ADDITIONAL_INFORMATION#</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#ADDITIONAL_INFORMATION_DETAIL#</td>
              </tr>
              <tr>
                <td height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
			  #END_ADDITIONAL_INFORMATION#
			 </table></td>
            <td width="10" align="left" valign="top" class="f11" scope="col">&nbsp;</td>
            <td width="325" align="left" valign="top" class="f11" scope="col" bgColor=#eeeeee><table width="325" border="0" cellspacing="0" cellpadding="0" >
			#BEGIN_WORKING_EXPERIENCE#
              <tr>
                <td align="left" valign="top" scope="col" ><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">#PREVIEW_WORKING_EXPERIENCE#
</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col"><span class="style8">
				#WORKING_EXPERIENCE_DETAIL#				</td>
          </tr>
              <tr>
                <td height="10" align="left" valign="top" scope="col"></td>
              </tr>
			  #END_WORKING_EXPERIENCE#
              <tr>
                <td align="left" valign="top" scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">THE TOPGUN&rsquo;s STRENGTH&copy;
               #PREVIEW_RANKED_IN_ORDER#</td></tr></TABLE></td>
              </tr>
			  #BEGIN_STRENGTH#
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#STRENGTH_DETAIL#</td>
              </tr>
			  #END_STRENGTH#
              <tr>
                <td height="10" align="left" valign="top" scope="col"></td>
              </tr>
  <tr>
                <td align="left" valign="top"  scope="col"><TABLE borderColor=#aaaaaa cellSpacing=0 cellPadding=0 width=200 border=1 bgColor=#aaaaaa>
 <tr><td align="center" class="style7">THE TOPGUN&rsquo;s APTITUDE&copy;</td></tr></TABLE></td>
              </tr>
              <tr>
                <td align="left" valign="top" class="f11" scope="col">#APTITUDE_DETAIL#
                    <strong><br>
                    #PREVIEW_RANKED_FAVOURITE_HOBBY# </strong><br>(#PREVIEW_MAX_TOP_5#) <br>
#APTITUDE_RANKED# </td>
              </tr>
              <tr>
                <td  height="10" align="left" valign="top" class="style7" scope="col"></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="3" colspan="3" align="right" valign="bottom" class="copyright" scope="col"></td>
          </tr>
          <tr>
            <td height="10" colspan="3" align="right" valign="bottom" class="copyright" scope="col"  bgColor=#eeeeee>&copy; Top Gun Co. Ltd.</td>
            </tr>
        </table></th>
      </tr>
    </table></th>
  </tr>
</table>
</body>
</html>